<form #form__ENTITY_PASCAL__="ngForm">
    <nz-table #groupingTable [nzData]="__ENTITY_CAMEL__Collection" [nzFrontPagination]=false
        [nzScroll]="{ x: '3000px', y: '800px' }" nzSize="middle">
        <thead>
            <tr>
                __TBL_KEYS__
            </tr>
        </thead>
        <tbody>
            @for (item of __ENTITY_CAMEL__Collection; track item.__ENTITY_ID__; let idx = $index) {
            <tr>
                __TBL_VALS__
            </tr>
            }
            <tr>
                __CREATE__
            </tr>
        </tbody>
    </nz-table>
</form>
<app-alert></app-alert>